@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700| Exo:100,200,300,400,500,600,700');

.uppercase{
    text-transform: uppercase ;
}

/*-------------------heading------------------*/

header{
    margin: 0;
    background-color: black;
    /*border-style: double;
    border-color: yellow;*/
}

.dummy-wallpaper{
    left:0;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    background-position: center;
    margin-left: 0;
    padding-left: 0;
    height: 75px;
    
}
.title{
    font-family: "Exo", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin: 0;
    color: #ffffff;
    background-color: #000000;
    padding: 0;
   
}

.title h1{
    margin:0;
    padding:0;
}

.menuheader{
    padding:0;
    margin:0;
    background-color: #000000;
    
   
}

#nav{
    background-color: #000000;
   /* margin-left: 200px;*/
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

#nav li{
    display: inline;
}

.menuitem{
    margin-left: 150px;
    
}

.ui-menu-home{
    margin-left:0;
}

.menuitem i{
    font-size: 28px;
    color: #ffffff;
    display:inline;
}

.menuitem span{
    color:#ffffff;
    background-color: #000000;
    font-size: 28px;
    font-family: "Exo", sans-serif;
    font-weight: 200;
    display: inline;
}



.dummy-logo{
    left:0;
    background-image: url('../images/croppedjagger.png');
    background-repeat: no-repeat;
    background-size: auto;
    height: 600px;
    width: 100%;
    background-position: center;
    background-color: black;
}


/*
.dummy-wallpaper .wallpaper-container{
  display: flex;
  align-items: center; /* horizontal 
  justify-content: center; /* vertical
}

.dummy-logo .wallpaper-container{
  display: flex;
  align-items: center; /* horizontal 
  justify-content: center; /* vertical 
}*/

.inline-block{
    display: inline-block;
}

.social-links{
    text-align: right;
}

.social-links i{
    font-size:28px;
    color: red;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
}

footer{
    background-color: #000000;
    color:#fafafa;
   /* min-height: 60px;
    border-style: double;
    border-color: yellow;*/
}