@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700| Exo:100,200,300,400,500,600,700');

.uppercase{
    text-transform: uppercase ;
}

/*-------------------heading------------------*/

header{
    margin: 0;
    background-color: black;
}

.logo{
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    background-position: center;
    margin-left: 0;
    padding-left: 0;
    height: 75px;
}

/*----------------------------------social links------------------------------------------*/
.social-links{
    text-align: right;
}

.social-links i {
    font-size:20px;
    color: red;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
}

.social-links i:hover{
    color:white;
}

/*------------------------------main heading---------------------------*/

.menuheader{
    padding:0;
    margin:0;
    background-color: #000000;
}


.menuitem{
    margin-left: 150px;
    
}

.menu-home{
    margin-left:50px;
}

#nav li{
    display: inline;
}  


.menuitem i{
    font-size: 28px;
    color: #ffffff;
    display:inline;
}


.menuitem span{
    color:#ffffff;
    background-color: #000000;
    font-size: 28px;
    font-family: "Exo", sans-serif;
    font-weight: 200;
    display: inline;
}

/*---------------------heading hover-----------------------------------*/
i:hover, a:hover, span:hover{
    color:red;
}

span:hover{
    color:yellow;
}
/*---------------------------dropdown----------------------------------------*/
.navbar-dropdown i{
    color:red;
}

.menu-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
}

.menu-dropdown a{
    color:red;
}


/*--------------------drop down hover --------------------------------*/
.navbar-dropdown i:hover{
    color:yellow;
}

.navbar-dropdown:hover .menu-dropdown{
    display: block;
}

.menu-dropdown a:hover{
    color: white;
}

/*--------------------------------background image--------------------------------*/
.wallpaper{
    left:0;
    background-image: url('../images/RollingStone.png');
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    height: 600px;
    width: 100%;
    background-position: center;
    background-color: black;
}

/*----------------------------------band----------------------*/
.bandbio{
    margin: 0px;
    padding:0px;
    height: 200px;
   /* display:table;*/
}

.bandimage{
    background-image: url('../images/bandbio.png');
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-position: left;
    background-color: blue;
    height: 200px;
    
    margin-right: 0;
    border-right: 0;
    position: relative;
}

.bandarticle{
    margin-left: 0;
    padding: 0;
    background-color: blue;
    height: 200px;
    
    z-index: 2;
    
}

.bandarticle h1{
    background-position: left;
    margin-left: 0;
    margin-top: 0;
    text-transform: capitalize;
    text-shadow: 2px 2px #FF0000;
    font-family: "roboto", sans-serif;
}

.bandarticle p{
    background-position: left;
    color:yellow;
    font-size: medium;
}

.fact{
    color:red;
    font-size: medium;
    font-family: "Exo" , "sans-serif";
    font-weight: bold;
     display: inline;
     text-decoration: underline;

}

.fact-answer{
    color:yellow;
    font-size: medium;
     display: inline;
}


.mjarticle{
     height: 200px;
     background-color: #ff4d4d;
}

.mjimage{
    background-image: url('../images/jaggerbio.png');
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-position: right;
    background-color: #ff4d4d;
    height: 200px;
}

.krimage{
    background-image: url('../images/keith-richard.png');
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    width: 150%;
    background-position: center;
    background-color: white;
    height: 200px;
    float: left;
}

.rwimage{
    background-image: url('../images/rwbio.png');
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    width: 150%;
    background-position: center;
    background-color: #66b3ff;
    height: 200px;
    border: double;
    border-color: yellow;
}

.cwimage{
    background-image: url('../images/charlie-watts.png');
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    width: 150%;
    background-position: center;
    background-color: yellow;
    height: 200px;
}


