@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Spicy+Rice:400');

.uppercase{
    text-transform: uppercase ;
}


/*-------------------heading------------------*/

header{
    margin: 0;
    background-color: rgb(0,0,0);
}

.logo{
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(0,0,0);
    background-position: left;
    margin-left: 0;
    padding-left: 0;
    height: 40px;
}

/*----------------------------------social links------------------------------------------*/
.social-links{
    text-align: right;
}

.social-links i {
    font-size:20px;
    color: red;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
}

.social-links i:hover{
    color:white;
}

/*------------------------------main heading---------------------------*/

.menuheader{
    padding:0;
    margin:0;
    background-color: #000000;
}

.menuitem{
    text-align: center;
}


#nav li{
    display: inline;
}  
.menuitem i{
    font-size: 28px;
    color: #ffffff;
    display:inline;
}
.menuitem span{
    color:#ffffff;
    background-color: #000000;
    font-size: 28px;
    font-family: "Exo", sans-serif;
    font-weight: 200;
    display: inline;
}

/*---------------------heading hover-----------------------------------*/
i:hover, a:hover, span:hover{
    color:yellow;
}

span:hover{
    color:yellow;
}
/*---------------------------dropdown----------------------------------------*/
.navbar-dropdown i{
    color:red;
}

.menu-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
}

.menu-dropdown a{
    color:red;
}


/*--------------------drop down hover --------------------------------*/
.navbar-dropdown i:hover{
    color:yellow;
}

.navbar-dropdown:hover .menu-dropdown{
    display: block;
}

.menu-dropdown a:hover{
    color: white;
}

/*--------------------------------background image--------------------------------*/
.wallpaper{
    left:0;
  /*  background-image: url('../images/rollingstone.png');*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-position: center;
    background-color: black;
    max-height: 150px;
    padding-left: 0;
    padding-right: 0;
}


@media screen and (min-width: 768px) {
    .wallpaper{
            max-height: 300px;
    }
} 

@media screen and (min-width: 991px)  {
    .wallpaper{
            max-height: 475px;
    }
}

/*-------------------------------------tour--------------------------------------*/
.tour{
    background-color: black;
    text-align: center;
    width:100%;
}

.tour h1{
    margin:0;
    color:white;
    font-family: 'Spicy Rice', cursive;
    font-size: 48px;
    font-weight: 200;
    
}

.tour p{
    font-family: 'Spicy Rice', sans-serif;
    color:white;
    font-size: 32px;
    padding-top: 30px;
    margin:0 auto;
}

.tour h1:hover{
    color:yellow;
    text-decoration: none;
}
/*----------------------------------band----------------------*/


.bandimage{
    background-image: url('../images/bio/bandbio.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    -webkit-background-size:100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-color: blue;
    height: 200px;    
}

.bandarticle{
    background-color: blue;
  
}

@media screen and (min-width: 992px) {
    .bandarticle{
            height: 200px !important; /*matching height to image for large screens. Smaller screens does not matter as image on top
            of text */
    }
}

.mjarticle{
    background-color: #ff4d4d;
}


@media screen and (min-width: 992px) {
    .mjarticle{
            height: 210px !important;}/*matching height to image for large screens. Smaller screens does not matter as image on top
            of text */
}

.mjimage{
    background-image: url('../images/bio/jaggerbio.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-position: right;
    background-color: #ff4d4d;
    height: 210px; 
   
}


.krimage{
    background-image: url('../images/bio/keith-richard.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
     background-color: white;
     height: 200px; 
}

.krarticale{
    background-color:white;
}

@media screen and (min-width: 992px) {
    .krarticale{
            height: 200px !important;}/*matching height to image for large screens. Smaller screens does not matter as image on top
            of text */
}

.rwarticale{
    background-color: #66b3ff;
  
}

 @media screen and (min-width: 992px) {
    .rwarticale{
           height: 200px !important;} /*matching height to image for large screens. Smaller screens does not matter as image on top
            of text */
} 


.rwimage{
    background-image: url('../images/bio/rwbio.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-position: right;
    height: 200px;
}

.cwarticale{
    background-color: yellow;
}

 @media screen and (min-width: 992px) {
    .cwarticale{
           height: 240px !important;} /*matching height to image for large screens. Smaller screens does not matter as image on top
            of text */
}

.cwimage{
    background-image: url('../images/bio/charlie-watts.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-color: yellow;
    height: 240px;
}
/* formatting band page */
.name{
    margin-top:0;
    margin-bottom: 0;
}
.name h1{
    display: inline;
    text-shadow: 1px 1px black;
    font-family: "roboto", sans-serif;
}

.name h3{
    display: inline-block;
    margin:20px;
    text-shadow: 1px 1px black;
    font-family: "roboto", sans-serif;
}

.bandarticle p{
    background-position: left;
    color:yellow;
    font-size: medium;
}

.bioparagraph p{
    color: black;
    font-size: medium;
    overflow: auto;
    width:100%;
}
.fact{
    color:black;
    font-size: medium;
    font-family: "Exo" , "sans-serif";
    font-weight: bold;
     display: inline;
     text-decoration: underline;
}

.fact-answer{
    color:yellow;
    font-size: medium;
     display: inline;
}


/*-----------------------------------------MEDIA-----------------------------------*/


.bg-color{
    background-color: grey;
}

.bg-color h1{
    font-family: Exo, sans-serif;
    font-weight: 500;
    font-style: oblique;
    color:white;
    padding-top: 20px;
    margin-top: 0px;
}


/*             Video section   */
.video-section figcaption{
    text-align: center;
    font-family: 'Spicy Rice', sans-serif;
    color: red;
    font-size: x-large;
}
/* small screen videos should take up width of screen minus margin*/
.video-section iframe{
    width: 100%;
    margin: 10px;
}

/*   define height for largre screens */
@media screen and (min-width: 768px) {
    iframe{
    height: 250px;
    margin: 25px;
}
} 


/*   Audio section    */

.audio_heading{
    padding-top: 100px;
}
.audio_img{
    background-image: url('../images/media/albumcover.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    height: 300px;
    margin:0px;
}

/*increase height for larger sreens */
@media (min-width: 768px){
    .audio_img{
        height: 650px;}   
}

.audio-songs h3{
    color:white;
}
.audio-songs h5{
    font-family: 'Spicy Rice', sans-serif;
    color: red;
    margin-top: 25px;
}

.audio-songs audio{
    width:90%;
}

/* galllery section----using flexbox */

.row-gallery {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    align-content:space-between;
    justify-content: center;
    padding: 0 4px;
    border-bottom-color: red;
    border-style: double;
    background-color: grey;
}

/* Create four equal columns that sits next to each other */
.column-gallery {
    box-sizing: border-box;
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    align-items: flex-end;
    max-width: 100%;
    padding: 0 4px;
    justify-content:space-around;
}
/*
.column-gallery img {
    margin-top: 8px;
    vertical-align: middle;
}*/

.gallery-image{
    height: 300px;
    width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other  */
@media screen and (min-width: 768px) and (max-width: 991px){
    .column-gallery {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;}
} 


/* Responsive layout - makes a four columns layout*/
@media screen and (min-width: 992px)   {
    .column-gallery {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 25%;}
}



/*----------------------------contact page-----------------------------------------------------*/

.contact{
    width:100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}


.booking_statement{
    font-family: 'Spicy Rice', cursive;
    font-size: 28px;
    color:red;
    text-align: center;
    width:100%;
}

#form_heading{
    margin-top:20px;
    padding-top: 10px;
    font-weight: 900;
}

.center_form{
    width: 80%;
    margin: 20px auto;
    background-color: #ffff80;
}

select {
    border:1px solid #ccc;
    vertical-align:top;
    height:32px;
    
}


@media screen and (min-width: 992px)   {
    .logo_contact{
        height: 250px;
    }
}








